
.menu-button > .arrow-button > .arrow {
    -fx-background-color: white;
}

.menu-item:focused{
     -fx-background-color: rgb(166.0, 158.0, 255.0);
}

.menu .label{
    -fx-text-fill: white;
}

.menu-item .label{
    -fx-text-fill: black;
}


.menu:hover {
     -fx-background-color: rgb(104, 97, 97);
}

.menu:showing {
     -fx-background-color: rgb(104, 97, 97);
}

#tfSearch
{
  -fx-font-size: 18.0;
  -fx-background-color: rgb(242.0, 242.0, 242.0);
  -fx-background-radius: 4.0;
  -fx-padding: 3.0, 5.0, 3.0, 5.0;
}
 
#tfSearch:hover
{
    -fx-background-color: rgb(242.0, 242.0, 242.0);
    -fx-background-radius: 4.0;
  -fx-padding: 3.0, 5.0, 3.0, 5.0;
}
 
#tfSearch:focused
{
    -fx-background-color: rgb(242.0, 242.0, 242.0);
    -fx-background-radius: 4.0;
  -fx-padding: 3.0, 5.0, 3.0, 5.0;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: #2f2f7a;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0.0;
}

.list-view {
  -fx-background-insets: 0.0;
  -fx-padding: 0.0;
}
