
.menu-item:focused{
     -fx-background-color: rgb(99, 99, 99);
}

.menu-button {
    -fx-background-color:  rgb(249.0, 249.0, 249.0);
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: #2f2f7a;
}


#tfSearch
{
  -fx-font-size: 14.0;
    -fx-background-color: transparent;
  -fx-background-radius: 4.0;
  -fx-padding: 3.0, 5.0, 3.0, 5.0;
}
 
#tfSearch:hover
{
    -fx-background-color: transparent;
   -fx-background-radius: 4.0;
  -fx-padding: 3.0, 5.0, 3.0, 5.0;
}
 
#tfSearch:focused
{
    -fx-background-color: transparent;
    -fx-background-radius: 4.0;
  -fx-padding: 3.0, 5.0, 3.0, 5.0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0.0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0.0;
}

#lvMessage {
  -fx-background-insets: 0.0;
  -fx-padding: 10.0, 2.0, 10.0, 2.0;
}

#lvMessage .list-cell:odd {
    -fx-background-color: white;
}

#lvMessage .list-cell:filled:focused:selected {
    -fx-background-color: white;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

#lvGroups {
    -fx-background-color: transparent;
  -fx-background-insets: 0.0;
  -fx-padding: 0.0;
}

#lvGroups .list-cell {
    -fx-background-color: transparent;
}

#lvGroups .list-cell:odd {
    -fx-background-color: transparent;
}

#lvGroups .list-cell:filled:focused:selected {
    -fx-background-color: rgb(226.0, 226.0, 226.0);
    -fx-background: -fx-accent;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}



